<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Add any other head elements or linked resources here -->
    {{!-- <link rel="stylesheet" href="/public/css/styles.css"> --}}
</head>

    <main>
        {{{body}}}
    </main>
    
    <footer>
        <p>&copy; Ecommerce App</p>
    </footer>
    
    <!-- Add any scripts or additional elements here -->
    <script src="/views/js/script.js"></script>
</body>
</html>
