<div class="row">
  <div class="col-md-6">
    <h1>Add a New Product</h1>

    <form class="add-product-form">
      <div class="form-group">
        <label for="product_name">Product Name:</label>
        <input class="form-input" type="text" id="product_name" />
      </div>
      <div class="form-group">
        <label for="category">Category:</label>
        <input class="form-input" type="text" id="category" />
      </div>
      <div class="form-group">
        <label for="product_description">Description:</label>
        <input class="form-input" id="product_description"></input>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input class="form-input" type="number" id="price" />
      </div>
      <div class="form-group">
        <label for="manufacturer">Manufacturer:</label>
        <input class="form-input" type="text" id="manufacturer" />
      </div>

      <div>
        <button class="btn btn-primary" type="submit">Add Product</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/profile.js"></script>