<h1>Add a New Product</h1>
<form id="add-product-form">
  <div>
    <label for="product_name">Product Name:</label>
    <input type="text" id="product_name" name="product_name" required>
  </div>
  
  <div>
    <label for="product_description">Description:</label>
    <textarea id="product_description" name="product_description" required></textarea>
  </div>

  <div>
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" required>
  </div>
  
  <div>
    <label for="manufacturer">Manufacturer:</label>
    <input type="text" id="manufacturer" name="manufacturer" required>
  </div>
  
  <div>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" step="0.01" required>
  </div>
  
  <div>
    <button type="submit">Add Product</button>
  </div>
</form>
<script src="/js/profile.js"></script>
